<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>My Website</title>
<link href="../resources/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="container">
  <header>
   <p>Karl Bissereth<br/>
    Web Application Projects</p>
    
  </header>
  <div id="maincontent">
  <nav>
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="./links.html.html">Links page</a></li>
        <li><a href="./videofavorites.html.html">Video page</a></li>
      </ul>
    </nav>
    <section id="section1">
      <article>
        <h3> About Me! </h3>
      <p>  I'm From Haiti, a country located in the Caribbean region where I did my Bachelor in electronic Engineering. After Graduation, I have joined one of the biggest telecommunication company in the Caribbean, Digicel, where I worked for 4 years as an IP engineer. In June 2012, I was granted the Fulbright Scholarship for a master degree in Information System which I'm currently pursuing at the Illinois state University since January 2013.</p> 
      
      </article>
    </section>
   
  </div>
  <footer> <p> Karl Wilhelm Bissereth | Copyright 2014</p><section id="footerImage">
      <img src="./resources/img/footerReggieGrey.png" width="40" height="46" /> </section> </footer>
</div>
</body>
</html>
